@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
    --Gradient1: hsl(0, 0%, 100%);
    --Gradient2: hsl(0, 100%, 98%);
    --Gradient3: hsl(0, 80%, 86%);
    --Gradient4: hsl(0, 74%, 74%);
}
body {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--DesaturatedRed);
}

.container {
    width: 375px;
    height: 800px;
    margin: 0 auto 80px;
    background-color: var(--Gradient2);
}
.container-logo {
    width: 100px;
    margin: 30px;
}
.container-picture {
    margin-bottom: 60px;
}
.container-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--DarkGrayishRed);
    font-weight: 700;
    letter-spacing: 11px;
    margin-bottom: 20px;
}
.container-title-span {
    color: var(--DesaturatedRed);
    font-weight: 300;
}
.container-description {
    margin: 0 40px 40px;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.4em;
}
.container-form {
    width: 310px;
    height: 50px;
    margin: auto;
    position: relative;
}
.container-email {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding-left: 16px;
    border: 1px solid var(--DesaturatedRed);
    outline: none;
    background-repeat: no-repeat;
    background-position: 210px;
}
.container-email::placeholder {
    color: var(--DesaturatedRed);
}
.container-submit {
    position: absolute;
    right: 0;
    width: 68px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(135deg, var(--Gradient3), var(--Gradient4));
    padding: 14px 25px;
}
.container-submit:hover {
    background: linear-gradient(135deg, var(--Gradient2), var(--Gradient4));
    box-shadow: 0 10px 15px var(--Gradient4);
}
.container-error {
    font-size: 0.85em;
    margin: 8px 0 0 14px;
    color: var(--SoftRed);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px) {
    .container {
        width: 1440px;
        height: 800px;
        background-image: url(images/bg-pattern-desktop.svg);
        position: relative;
    }
    .container-logo {
        width: 160px;
    }
    .container-picture {
        content: url(images/hero-desktop.jpg);
        position: absolute;
        right: 0;
    }
    .container-content {
        width: 444px;
        margin: 125px 0 0 36px;
    }
    .container-title {
        text-align: left;
        font-size: 4.1em;
        letter-spacing: 15px;
    }
    .container-description {
        text-align: left;
        font-size: 1em;
        margin: 0 0 40px;
    }
    .container-form {
        width: 100%;
        height: 60px;
    }
    .container-email {
        background-position: 300px;
    }
    .container-submit {
        width: 100px;
        height: 60px;
        padding: 20px 42px;
    }
}


