@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
}
:root {
    --VeryDarkBlueMain: hsl(233, 47%, 7%);
    --DarkDesaturatedBlueCard: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --SlightlyTransparentP: hsla(0, 0%, 100%, 0.75);
    --SlightlyTransparentS: hsla(0, 0%, 100%, 0.6);
    --Layer: rgba(110, 30, 160, 0.7);
}
body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--VeryDarkBlueMain);
}

.main-container {
    height: 782px;
    width: 328px;
    background-color: var(--DarkDesaturatedBlueCard);
    margin: 88px auto;
    border-radius: 8px;
    overflow: hidden;
}

/*SECTION 1*/
.image {
    background-image: url(./images/image-header-mobile.jpg);
    background-size: cover;
    width: 100%;
    height: 240px;
}

#layer {
    background-color: var(--Layer);
    width: 100%;
    height: 100%;
}
/*SECTION 1*/

/*SECTION 2*/
.section-2 {
    padding: 40px 33px;
    text-align: center;
}

h1 {
    color: var(--White);
    font-size: 1.8em;
    font-family: 'Inter', sans-serif;
    height: 115px;
}
span {
    color: var(--SoftViolet);
}
p {
    color: var(--SlightlyTransparentP);
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 25px;
    height: 137px;
}

.stats {
    color: var(--SlightlyTransparentP);
    line-height: 25px;
}
.amount {
    font-weight: 700;
    font-size: 1.45em;
    color: var(--White);
}
.concept {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 33px;
}
.last {
    text-transform: uppercase;
}
/*SECTION 2*/

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 80px;
    color: var(--White);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1200px) {
    .main-container {
        width: 1110px;
        height: 448px;
        display: flex;
        flex-direction: row-reverse;
        margin: 178px auto;
    }
    .image {
        width: 540px;
        height: 100%;
    }
    .section-2 {
        padding: 75px 70px;
        text-align: left;
    }

    h1 {
        font-size: 2.5em;
    }
    p {
        margin-right: 70px;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        margin-right: 70px;
    }
}